* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
img{
  border-radius: 500px;
  width: 200px;
  height: 200px;
}
.container {
  display: flex;
  width: 100%;
  background-color:#ffff;
  overflow: hidden;
}

/* Dividindo os containers */
.left-container, .right-container {
  flex: 1;
}

.left-section {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 800px;
  height: 500px;
  border-top-right-radius: 400px;
  border-bottom-right-radius: 400px;
  
}

.left-section img {
  max-width: 90%;
  height: auto;
  
}

.right-section {
  padding: 40px;
  background-color: #ffffff;
  color: white;
  
}

.circle {
  width: 130px;
  height: 130px;
 justify-content: space-between;
  background-color: #0f2941;
  border-radius: 50%;
}
 


.right-section h2 {
  margin-bottom: 20px;
  font-size: 2em;
}



a {
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 0.9em;
  text-align: right;
}

a:hover {
  text-decoration: underline;
}